*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container{
    /*background-color: blue;*/
    margin: 100px auto;
    width: 300px;
    padding: 5px;
}
header{
    text-align: center;
}
body{
    background-color: rgba(0, 0, 0, 0.09);
}

#borders{
    border: 3px solid #3c3f41;
    display: inline;
    color: #3c3f41;
    border-radius: 2px;
    padding: 5px 10px;
    margin: 0 0 30px 0;
}
#screen{
    margin-top: 30px;
    height: 80px;
    width: 200px;
    text-align: right;
    padding: 10px;
    font-size: 28px;
    margin-left: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    transition: 1s ease;
    overflow: hidden;
}
#expressions{
    height: 30px;


}
#results{
    height: 50px;
    font-size: 48px;
    line-height: 48px;
}
.container .buttons li {
    float: left;
    width: 50px;
    height: 40px;
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 6px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 3px 1px #000000;
    line-height: 40px;
}
#err{
    float: left;
    font-size: 11px;
}
ul{
    list-style-type: none;

}

li{
    background: #3c3f41;

}
.container .buttons li:active {
    box-shadow: 0px 0px 0px #000;
    margin-top: 1px;
    margin-bottom: 4px;
    /*transition: all 0.5s ease-out;*/
}
.firstRow{
    background-color: gray;
    color: #ffffff;
}

.sideCol{
    background-color: gray;
    color: #ffffff;
}

#equals{
    background-color: mediumspringgreen;
    color: #ffffff;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.footer{
    color: #000000;
    font-size: 12px;
    text-align: center;
    font-weight: bolder;
    margin-top: 150px;
    padding-top: 100px;
}

.footer:hover{
    text-shadow: 0 2px 5px #000000;
    transition: 400ms ease;
}

.footer a{
    color: #000000;
    font-weight: 900;
    text-decoration: none;
}