#container{
    width: 300px;
    height: 600px;
    margin: 50px auto;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.36);
}
h2{
    font-size:32px ;
    font-weight: bolder;
    margin-bottom: 5px;

}
#header{
    background-image: url("../images/time.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120px;
    border-radius: 25px 25px 0 0;
    /*font-family: 'Pacifico', cursive;*/
    text-align: center;
    padding-top: 80px;
    /*color: #cc4e4d;*/
    /*text-shadow: 0 1px 10px #000000;*/
    position: relative;
    z-index: 11;
}
.title{
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    /*position: relative;*/
    /*align-items: flex-end;*/
    /*margin-top: 100px;*/
    color: #cc4e4d;
    text-shadow: 0 1px 10px #000000;

}
#wrapper{
    margin: 50px auto;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: grey;
}
.glow {
    display:inline-block;
    width: 150px;
    height: 150px;
    background: #cc4e4d;
    position: relative;
    border-radius: 50%;
    z-index:1;
}
.inSession{
    border: 2px solid #cc4e4d;
    display: inline;
    border-radius: 50px;
    padding: 5px 10px;
    margin: 0;
    background-color: white;
    color: #cc4e4d;
}
.onBreak{
    border: 2px solid #cc4e4d;
    display: inline;
    border-radius: 50px;
    padding: 5px 10px;
    margin: 0;
    background-color: white;
    color: #cc4e4d;
}
#status{
    position: absolute;
    top: 220px;
    width: 150px;
    height: 50px;
    left:720px;
    z-index: 20;
    color: #ffffff;
    text-shadow: 0 1px 5px #cc4e4d;
    font-family: 'Ubuntu', sans-serif;
}

.pulse{
    -webkit-animation: pulse linear 1s infinite;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    51% {
        -webkit-transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

.inner{
    border:2px solid #cc4e4d;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    font-size: 32px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    background: white;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
}
.control{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cc4e4d;
    text-shadow: 0 2px 2px black;
    margin-bottom: 10px;
}
#settings{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cc4e4d;
    margin-bottom: 10px;
    z-index: 3;

}
#breathingSpace{
    margin-right: 10px;
}
.break{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    color: black;
    float: left;
    margin: 5px;
}
.session{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    float: right;
    color: black;
    margin: 5px;
}

#settings-panel{
    position: absolute;
    top: 240px;
    width: 300px;
    height: 80px;
    font-size: 12px;
    cursor: pointer;
    z-index: 10;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    margin: 5px auto;
    background-color:  #cc4e4d;
    font-family: 'Ubuntu', sans-serif;
}
.number{
    font-size: 20px;
    line-height: 20px;
    padding: 10px;
}
#play{
    cursor: pointer;
}
#play:active{
    margin-top: 1px;
    margin-bottom: -1px;
    text-shadow: 1px 0px 0px black;
}

#reset{
    cursor: pointer;
    text-shadow: 0 2px 2px black;
}
#reset:active{
    margin-top: 1px;
    margin-bottom: -1px;
    text-shadow: 0px 0px 0px black;
}

#setting{
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    text-shadow: 0 2px 2px black;
}
#setting:active{
    margin-top: 1px;
    margin-bottom: -1px;
    text-shadow: 0px 0px 0px black;
}
#pause{
    cursor: pointer;
}
#pause:active{
    margin-top: 1px;
    margin-bottom: -1px;
    text-shadow: 1px 0px 0px black;
}

#sessionName{

    border: 2px solid #ffffff;
    display: inline;
    border-radius: 50px;
    padding: 5px 10px;
    margin: 0 0 0 150px;
    background-color: #cc4e4d;
    z-index: 13;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.footer{
    margin: 0 auto;
    text-align: center;
    width: 300px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.footer a{
    text-decoration: none;
    color: #cc4e4d;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1);

}



a:hover{
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    -webkit-transition: ease-in-out 400ms;
    -moz-transition: ease-in-out 400ms;
    transition: ease-in-out 400ms;
    color: black;
}